body {
    background-color: rgb(208, 193, 175);
}
header {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 3cm;
}
.woordenbox {
    display: inline-block;
    padding: 0.1cm;
    background-color: rgb(208, 193, 175);
    border-radius: 6px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
    margin: 0.2cm;
}

.woordenbox:hover {
    background-color: #000000;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.374); 
    color: white;
}